

.wa-button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  background: #6395ff;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center
}
